{% load static %}
<!DOCTYPE html>
  <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>My Manga Collections</title>
        <link rel="stylesheet" type="text/css" href="{% static 'my_app/style.css' %}">
        <link href="{% static 'my_app/css/all.css' %}" type="text/css" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>

    <bod>

      {% include "my_app/header.html" %}

      <main role="main">
        <div class="album py-5 bg-light">
          <div class="container">
            
            {% block content %}
              
            {% if error %}
              <div class="alert">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                  <strong>Error!</strong> {{ error }}
              </div>
            {% elif collection %}
            
            <div class="row"> 
              {% for col in collection %} 
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm text-center">
                    <div class="card-header">
                      <a href="{{col.mangaUrl}}" target="_blank">
                        <h4>{{col.title}}</h4>
                      </a>
                    </div>
                    <div class="card-body">
                      <p class="card-text"><img src="{{col.coverImg}}" width="200" height="310"/></p>
                      {% if col.chapters %}
                      <div class="list-group">
                      {% for chapter in col.chapters|slice:":4" %}
                          <a href="https://www.taadd.com{{chapter.chapterUrl}}" class="list-group-item list-group-item-action flex-column align-items-start" target="_blank">
                            <div class="d-flex w-100 justify-content-between">
                              <h6 class="mb-1">{{chapter.release_date}}</h6>
                            </div>
                            <p class="mb-1" style="text-align: center;">{{chapter.chapter}}</p>
                          </a>
                      {% endfor %}
                      </div>
                      {% else %}
                        No Chapters
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>

            {% else %}
              <div class="info">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                  <strong>Sorry,</strong> Something went wrong, please try again later.
              </div>
            {% endif %}

            {% endblock content %}
          
          </div> 
        </div>
      </main>
    
  
     
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
  </html>